#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  width: 100%;
}

.card {
  padding: 2em;
  background-color: #413a3a;
  min-width: 220px;

}

.card img {
  width: 200px;
}

.card p {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.nome-do-pokemon {
  background-color: #69ecba;
  color: #1a1919;
  border-radius: 20px;
  padding: 5px 5px;
  max-width: 150px;
  margin: 10px auto;
}

.badge {
  background-color: darkgreen;
  text-transform: capitalize;
  font-size: 1.25rem;
  padding: 2px 6px;
  font-weight: 700;
  border-radius: 20px;
}

.read-the-docs {
  color: #888;
}

.button {
  background-color: white;
  margin-top: 24px;
  color: #1a1919;
}

footer {
  padding-top: 36px;
}